# ignore binaries
/labed
/tabjson
/makta
/doisniffer

# ignore debian package
ckit_*_amd64.deb

# ignore sample data files
/i.db
/o.db
/index.data*
/index.db

# ignore intermediate package artifacts
/packaging/deb/ckit/usr
