# ignore binaries
/doisniffer
/labe-genreport
/labed
/makta
/tabjson
/timefd

# ignore debian package and files
ckit_*_amd64.deb
id_to_doi.tsv.zst

# ignore sample data files
/i.db
/o.db
/index.data*
/index.db

# ignore intermediate package artifacts
/packaging/deb/ckit/usr

