[Unit]
Description=Server for labe citation project
Documentation=https://www.github.com/slub/labe
After=network.target

[Service]
Type=simple
User=labe
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/labed \
                -addr 0.0.0.0:8000 \
                -a /var/log/labe-access.log \
                -logfile /var/log/labe.log \
                -c \
                -z \
                -i /usr/share/labe/data/IdMappingDatabase/current \
                -o /usr/share/labe/data/OpenCitationsDatabase/current \
                -m /usr/share/labe/data/SolrDatabase/current-ai-short \
                -m /usr/share/labe/data/SolrDatabase/current-main-short \
                -m /usr/share/labe/data/SolrDatabase/current-slub-production
Restart=on-failure

[Install]
WantedBy=multi-user.target

